#nav{
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse.navbar-nav.nav-link {
    color: rgb(39, 83, 21);
}
.navbar-nav{
    margin-left: auto;
}

#catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuir los elementos a lo largo del contenedor */
  }
  
.card {
    flex: 1 1 calc(25% - 10px); /* El 25% garantiza un máximo de 4 elementos por fila, el 10px es el espacio entre elementos */
    margin: 10px; /* Espacio entre los elementos */
    max-width: calc(25% - 10px); /* Limitar el ancho máximo de los elementos */
}  
.footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 200px;
    position: relative;
}

.icn{
    align-content: center;
    width: 10%;
    height: 10%;
}

footer{
    background-color: rgb(86, 182, 48);
    color:rgb(41, 41, 41);
}

