#nav{
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse.navbar-nav.nav-link {
    color: rgb(107, 160, 86);
}
.navbar-nav{
    margin-left: auto;
}

.body{
    background-color: rgb(152, 219, 125);
}

#catalog {
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    gap: 15px;
}
  
.titulo{
    padding: 10px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    margin: 3px; /* Espacio entre los elementos */
    width: 20%; /* Limitar el ancho máximo de los elementos */
    max-width: calc(25% - 15px);
    overflow: hidden;

}  

.footer{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    height: 200px;
    position: relative;
}

.icn{
    align-content: center;
    width: 10%;
    height: 10%;
}

footer{
    background-color: rgb(86, 182, 48);
    color:rgb(41, 41, 41);
}

